<!DOCTYPE html>
<html>
    <head>
        <title><%= data.group %>: <%= data.id %></title>
        <style>
            .bg {
                position: fixed; 
                top: -50%; 
                left: -50%; 
                width: 200%; 
                height: 200%;
            }
            .bg img {
                position: absolute; 
                top: 0; 
                left: 0; 
                right: 0; 
                bottom: 0; 
                margin: auto; 
                min-width: 50%;
                min-height: 50%;
            }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    </head>
    <body style="width: 100%; height: 99%;">

        <div class="bg">
            <image id="n_image"></image>
        </div>

        <small style="position:relative; z-index:10; color:#ECEFF1" class="font-monospace">Currently connected to <%=data.group%> group</small>

        <script src="/socket.io/socket.io.js"></script>

        <script>
                let group = "<%=data.group%>"
                let id = "<%=data.id%>"
                let p = document.getElementById('n_image')
                let socket = io();
                socket.emit("register", {group: group, id:id})
                socket.on("new_notice", (notice_data) => {
                    p.src = `data:image/jpg;base64,${notice_data.message}`
                })
        </script>
    </body>
</html>